<DOCTYPE html>
<html lang="eg">
	<head>
		<meta charset="utf-8">
		<meta name="descreption" content="ecommerce site ">
		<meta name="keyword" content="ecommerce site, online store, shop,">
		<meta name="auther" content="owner of site">
		<meta name="viewport" content="width=device-width, initial-sacle = 1.0">
		<meta http-equvi="x-ua-compatible" IE="edge">

		<!--titlw-->
		<title>{% block title %} {% endblock %} </title>
	</head>
	<body>
		{% block bodycontent %}
		{% endblock  %}
	</body>
</html>
